/* html, body {
    position:  fixed;
    margin: 0;
    padding: 0;
  }

canvas {
    display: block;
    position:fixed; 
    left:0; 
    top:0; 
    z-index:-1
} */

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#instructions {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 14px;
	cursor: pointer;

}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: cursive;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}


#info {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-Size:3vh;
	
	/* position: absolute; */
	/* top: 0px; */
	width: 100%;
	/* padding: 30vh; */
	
	box-sizing: border-box;
	text-align: center;

	z-index: 1; 	
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 

}

@keyframes fadeInAnimation {

	0% {pacity: 0; }
	100% {opacity: 1;}
	
	}



a, button, input, select {
	pointer-events: auto;
}
